@import 'reset';
@import 'color';
@import 'font';

body {
    display: flex;
    justify-content: center;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    @media screen and (max-width: 1200px) {
        max-width: 100%;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1rem 2rem;
        color: $white;
        position: relative;
        filter: drop-shadow(0 0 3pt rgba($black, .5));
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;   
            border: 0;
            background-color: $white;
            border-radius: 3pt;
            padding: 7pt 1rem;
            min-width: 50%;
            font-size: 14pt;
            @media screen and (max-width: 1200px) {
                max-width: 80%;
            }
        }
    }
    #intro {
        width: inherit;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .card {
            width: calc(20rem - 3pt * 2);
            height: calc(7rem - 3pt * 2);
            padding: 3pt;
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            border-radius: 3pt;
            box-shadow: 1pt 1pt 2pt rgba($black, .5);
            background-color: $white;
            .image {
                height: 100%;
                width: calc(7rem - 3pt * 2);
                background-size: cover;
                background-position: center;
                border-radius: 3pt;
                font-size: 48pt;
                color: $red;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;
                cursor: pointer;
                i {
                    opacity: 0;
                    transition: all .3s;
                    filter: drop-shadow(0 0 3pt rgba($black, .5));
                }
                i:hover {
                    opacity: 1;
                }                
            }
            ul {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li {

                }
            }
        }
    }
}